.nav-bar {
    background-color: #ffcaa6;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: .5rem 1rem;
}

.logo {
    height: 3rem;
}

.search {
    width: 100%;
    border-radius: .2rem;
}