.section-form{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 20px 0;
 

}

.form {
    background-color: bisque;
    border-radius: 20px;
    height: 500px;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .form-input {
    width: 100%;
    border: 1px solid green
  }

  .textarea {
    height: 10rem
  }

  .button {
    margin-top: 20px;
    background-color: firebrick;
    color: white;
    border-radius: 5px;
    cursor: pointer
  }

  .button:hover{
    background-color: darkgreen;
  }
  
  .home {
    margin: 0;
  }